{{#partial "content"}}
<ul>
    <li><img src='/images/windows-Bv2wEGbSi2s-unsplash.jpg' width=100px height=100px alt='there should be an image'></li>
    <li><img src='/images/vishnu-prasad-Fhgwix4dupg-unsplash.jpg' width=100px height=100px alt='another image here'></li>

</ul>
</body>
</html>

{{/partial}}

{{> layout.hbs}}
